/* body{
    padding-top: 8%;
} */

.judul{
  padding-top: 4%;
  margin-right: 4%;
}

.jarak-kanan{
  justify-content: flex-end;
  margin-right: 4%;
}

span{
  color: gray;
}

.dropdownMini .dropdown-toggle{
  border: none;
  outline: none;
  scroll-behavior: smooth;
  background-color: #FAF8F6;
  color: #0C003F;
}

.input-group{
    width: 50%;
    /* height: 24px; */
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
  }

  .form-control{
    color: gray;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
  }

  .btn-primary{
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    --bs-btn-bg: #0C003F;
    height: 100%;
    border: none;
  }

  .btn-primary:hover{
    background: #15C0A4;
    border: none;
  }
  
  .title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.btnSegment {
  margin-top: auto;
  height: 100%;
  background: white;
  color: gray;
  border: 16px;
  display:inline-block;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}

.btn {
  margin-top: auto;
  background-color: #0C003F;
}

.searchButton{
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}